<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="csrf-token"
      content="MnARh3Vk1lREnxRan4cY3a1jBvEUIF6HRoKOkDkf"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Update category</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://grofresh-admin.6amtech.com/storage/app/public/restaurant/2023-11-21-655c75526b81b.png"
    />
    <link rel="shortcut icon" href />
    <link
      rel="stylesheet"
      href="https://grofresh-admin.6amtech.com/public/assets/admin/css/vendor.min.css"
    />
    <link
      rel="stylesheet"
      href="https://grofresh-admin.6amtech.com/public/assets/admin/vendor/icon-set/style.css"
    />
    <link
      rel="stylesheet"
      href="https://grofresh-admin.6amtech.com/public/assets/admin/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://grofresh-admin.6amtech.com/public/assets/admin/css/owl.min.css"
    />
    <link
      rel="stylesheet"
      href="https://grofresh-admin.6amtech.com/public/assets/admin/css/theme.minc619.css?v=1.0"
    />
    <link
      rel="stylesheet"
      href="https://grofresh-admin.6amtech.com/public/assets/admin/css/style.css"
    />
    <script src="https://grofresh-admin.6amtech.com/public/assets/admin/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js"></script>
    <link
      rel="stylesheet"
      href="https://grofresh-admin.6amtech.com/public/assets/admin/css/toastr.css"
    />
    <link
      rel="stylesheet"
      href="https://grofresh-admin.6amtech.com/public/assets/admin/css/custom-helper.css"
    />
  </head>
  <body class="footer-offset" id="demo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-none" id="loading">
            <div class="loader-image">
              <img
                width="200"
                src="https://grofresh-admin.6amtech.com/public/assets/admin/img/loader.gif"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../Layout/Header') %>
    <div id="headerFluid" class="d-none"></div>
    <div id="headerDouble" class="d-none"></div>
    <%- include('../Layout/Sidebar') %>
    <main id="content" role="main" class="main pointer-event">
      <div class="content container-fluid">
        <div class="page-header">
          <h1 class="page-header-title">
            <span class="page-header-icon">
              <img
                src="https://grofresh-admin.6amtech.com/public/assets/admin/img/category.png"
                class="w--24"
                alt="Category"
              />
            </span>
            <span> Category Update </span>
          </h1>
        </div>
        <div class="card">
            <div class="card-body">
                <form id="categoryForm" enctype="multipart/form-data">
                    <div class="row align-items-end g-4">
                        <div class="col-sm-6">
                            <label class="input-label" for="categoryName">Name (EN)</label>
                            <input type="text" id="categoryName" name="name" maxlength="255" class="form-control" required>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-center">
                                <img id="categoryImage" class="img--105" src="" alt="Category">
                            </div>
                            <label for="categoryImageUpload">Image</label>
                            <small class="text-danger">* (Ratio 3:1)</small>
                            <div class="custom-file">
                                <input type="file" id="categoryImageUpload" class="custom-file-input" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*">
                                <label class="custom-file-label" for="categoryImageUpload">Choose File</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="btn--container justify-content-end">
                                <button type="reset" class="btn btn--reset">Reset</button>
                                <button type="submit" class="btn btn--primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <%- include('../Layout/Footer') %>
      <div class="modal fade" id="popup-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <div class="text-center">
                    <h2 class="order-check-colour">
                      <i class="tio-shopping-cart-outlined"></i> You have new
                      order Check Please.
                    </h2>
                    <hr />
                    <button id="check-order" class="btn btn-primary">
                      Ok let me check
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="https://grofresh-admin.6amtech.com/public/assets/admin/js/custom.js"></script>
    <script src="https://grofresh-admin.6amtech.com/public/assets/admin/js/vendor.min.js"></script>
    <script src="https://grofresh-admin.6amtech.com/public/assets/admin/js/theme.min.js"></script>
    <script src="https://grofresh-admin.6amtech.com/public/assets/admin/js/sweet_alert.js"></script>
    <script src="https://grofresh-admin.6amtech.com/public/assets/admin/js/toastr.js"></script>
    <script src="https://grofresh-admin.6amtech.com/public/assets/admin/js/owl.min.js"></script>
    <script type="text/javascript"></script>
    <script>
      $(document).on("ready", function () {
        var sidebar = $(".js-navbar-vertical-aside").hsSideNav();

        $(".js-nav-tooltip-link").tooltip({ boundary: "window" });

        $(".js-nav-tooltip-link").on("show.bs.tooltip", function (e) {
          if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
            return false;
          }
        });

        $(".js-hs-unfold-invoker").each(function () {
          var unfold = new HSUnfold($(this)).init();
        });

        $(".js-form-search").each(function () {
          new HSFormSearch($(this)).init();
        });

        $(".js-select2-custom").each(function () {
          var select2 = $.HSCore.components.HSSelect2.init($(this));
        });

        $(".js-daterangepicker").daterangepicker();

        $(".js-daterangepicker-times").daterangepicker({
          timePicker: true,
          startDate: moment().startOf("hour"),
          endDate: moment().startOf("hour").add(32, "hour"),
          locale: {
            format: "M/DD hh:mm A",
          },
        });
      });
    </script>
    <script src="https://grofresh-admin.6amtech.com/public/assets/admin/js/category.js"></script>
    <script>
      "use strict";

      $(".lang_link").click(function (e) {
        e.preventDefault();
        $(".lang_link").removeClass("active");
        $(".lang_form").addClass("d-none");
        $(this).addClass("active");

        let form_id = this.id;
        let lang = form_id.split("-")[0];
        console.log(lang);
        $("#" + lang + "-form").removeClass("d-none");
        if (lang == "en") {
          $(".from_part_2").removeClass("d-none");
        } else {
          $(".from_part_2").addClass("d-none");
        }
      });
    </script>
    <script>
      $(window).on("load", function () {
        if ($(".navbar-vertical-content li.active").length) {
          $(".navbar-vertical-content").animate(
            {
              scrollTop:
                $(".navbar-vertical-content li.active").offset().top - 150,
            },
            10
          );
        }
      });

      var $rows = $("#navbar-vertical-content .navbar-nav > li");
      $("#search-sidebar-menu").keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, " ").toLowerCase();

        $rows
          .show()
          .filter(function () {
            var text = $(this).text().replace(/\s+/g, " ").toLowerCase();
            return !~text.indexOf(val);
          })
          .hide();
      });
    </script>
    <audio id="myAudio">
      <source
        src="https://grofresh-admin.6amtech.com/public/assets/admin/sound/notification.mp3"
        type="audio/mpeg"
      />
    </audio>
    <script>
      var audio = document.getElementById("myAudio");

      function playAudio() {
        audio.play();
      }

      function pauseAudio() {
        audio.pause();
      }
    </script>
    <script>
      $("#check-order").on("click", function () {
        location.href =
          "https://grofresh-admin.6amtech.com/admin/order/list/all";
      });

      setInterval(function () {
        $.get({
          url: "https://grofresh-admin.6amtech.com/admin/get-restaurant-data",
          dataType: "json",
          success: function (response) {
            let data = response.data;
            if (data.new_order > 0) {
              playAudio();
              $("#popup-modal").appendTo("body").modal("show");
            }
          },
        });
      }, 10000);

      function route_alert(route, message) {
        Swal.fire({
          title: "Are you sure ",
          text: message,
          type: "warning",
          showCancelButton: true,
          cancelButtonColor: "default",
          confirmButtonColor: "#01684b",
          cancelButtonText: "No",
          confirmButtonText: "Yes",
          reverseButtons: true,
        }).then((result) => {
          if (result.value) {
            location.href = route;
          }
        });
      }

      $(".form-alert").on("click", function () {
        let id = $(this).data("id");
        let message = $(this).data("message");
        form_alert(id, message);
      });

      function form_alert(id, message) {
        Swal.fire({
          title: "Are you sure ",
          text: message,
          type: "warning",
          showCancelButton: true,
          cancelButtonColor: "default",
          confirmButtonColor: "#01684b",
          cancelButtonText: "No",
          confirmButtonText: "Yes",
          reverseButtons: true,
        }).then((result) => {
          if (result.value) {
            $("#" + id).submit();
          }
        });
      }

      function call_demo() {
        toastr.info("Disabled for demo version!");
      }

      $(".call-demo").click(function () {
        if ("demo" === "demo") {
          call_demo();
        }
      });
    </script>
    <script>
      $(".status-change-alert").on("click", function () {
        let url = $(this).data("route");
        let message = $(this).data("message");
        status_change_alert(url, message, event);
      });

      function status_change_alert(url, message, e) {
        e.preventDefault();
        Swal.fire({
          title: "Are you sure ",
          text: message,
          type: "warning",
          showCancelButton: true,
          cancelButtonColor: "default",
          confirmButtonColor: "#107980",
          confirmButtonText: "Yes",
          cancelButtonText: "No",
          reverseButtons: true,
        }).then((result) => {
          if (result.value) {
            location.href = url;
          }
        });
      }
    </script>
    <script>
      var initialImages = [];
      $(window).on("load", function () {
        $("form")
          .find("img")
          .each(function (index, value) {
            initialImages.push(value.src);
          });
      });

      $(document).ready(function () {
        $("form").on("reset", function (e) {
          $("form")
            .find("img")
            .each(function (index, value) {
              $(value).attr("src", initialImages[index]);
            });
        });
      });
    </script>
    <script>
      $(function () {
        var owl = $(".single-item-slider");
        owl.owlCarousel({
          autoplay: false,
          items: 1,
          onInitialized: counter,
          onTranslated: counter,
          autoHeight: true,
          dots: true,
        });

        function counter(event) {
          var element = event.target; // DOM element, in this example .owl-carousel
          var items = event.item.count; // Number of items
          var item = event.item.index + 1; // Position of the current item

          if (item > items) {
            item = item - items;
          }
          $(".slide-counter").html(+item + "/" + items);
        }
      });
    </script>
    <!-- smiobghn -->
    <script>
        // Define a function to fetch and populate category data
        async function fetchAndPopulateCategoryData() {
            const categoryId = window.location.pathname.split('/').pop();
            const apiUrl = `/api/v1/singleProductCategory/${categoryId}`;
    
            try {
                const response = await fetch(apiUrl);
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const data = await response.json();
                populateForm(data);
            } catch (error) {
                console.error('Error:', error);
            }
        }
    
        // Call the function when the DOM content is loaded
        document.addEventListener('DOMContentLoaded', fetchAndPopulateCategoryData);
    
        // Add event listener to the form submission
        document.getElementById('categoryForm').addEventListener('submit', async function (event) {
            event.preventDefault();
    
            const categoryId = window.location.pathname.split('/').pop();
            const apiUrl = `/api/v1/updateProductCategory/${categoryId}`;
    
            const formData = new FormData();
            formData.append('Category_name', document.getElementById('categoryName').value);
            
            // Check if a file is selected before appending
            const imageFile = document.getElementById('categoryImageUpload').files[0];
            if (imageFile) {
                formData.append('image', imageFile);
            }
    
            const myHeaders = new Headers();
    
            const requestOptions = {
                method: 'PUT',
                headers: myHeaders,
                body: formData,
                redirect: 'follow'
            };
    
            try {
                const response = await fetch(apiUrl, requestOptions);
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const result = await response.json();
                toastr.success(result?.message);
                console.log(result.message); // Log the response for debugging
                
                // Fetch and populate category data again
                fetchAndPopulateCategoryData();
            } catch (error) {
                console.error('Error:', error);
                toastr.error(error);
            }
        });
    
        // Function to populate form fields with data
        function populateForm(data) {
            document.getElementById('categoryName').value = data?.Category_name || '';
            document.getElementById('categoryImage').src = data?.image || '';
        }
    </script>
    
    
<!-- ufijcmkd -->
    <script>
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
        document.write(
          '<script src="https://grofresh-admin.6amtech.com/public/assets/admin/vendor/babel-polyfill/polyfill.min.js"><\/script>'
        );
    </script>
  </body>
</html>
