<div class="footer">
    <div class="row justify-content-between align-items-center">
        <div class="col">
            <p class="font-size-sm mb-0">
                <span class="d-none d-sm-inline-block">Copyright © 2023, groFresh</span>
            </p>
        </div>
        <div class="col-auto">
            <div class="d-flex justify-content-end">
                <ul class="list-inline list-separator">
                    <li class="list-inline-item">
                        <a class="list-separator-link"
                            href="https://grofresh-admin.6amtech.com/admin/business-settings/store/ecom-setup">Store
                            Settings</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="list-separator-link"
                            href="https://grofresh-admin.6amtech.com/admin/settings">Profile</a>
                    </li>
                    <li class="list-inline-item">
                        <div class="hs-unfold">
                            <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle"
                                href="https://grofresh-admin.6amtech.com/admin">
                                <i class="tio-home-outlined"></i>
                            </a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <label class="badge badge-success text-capitalize">
                            Software Version 7.4
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>